ul.nearlyTureApp-unordered-list {
  list-style: none;
  margin: 0;
  padding: 0px;
  text-align: center;
  cursor: pointer;
}

li.nearlyTureApp-unordered-list-item {
  background: white;
}
li:nth-child(odd).nearlyTureApp-unordered-list-item {
  background: rgb(74, 85, 232);
  color: white;
}
li:hover.nearlyTureApp-unordered-list-item {
  transform: scale(1.1);
}

.nearlyTrueApp-side-bar-timeline-button-main-div {
  text-align: center;
}
